/* Header */
.header {
  align-items: center;
  justify-content: space-between;
  gap: 3.12rem;
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1.6rem 3.12rem;
  box-shadow: 0rem 0.21rem 0.4rem rgba(0, 0, 0, 0.1);

  & img {
    width: 10rem;
  }

  & .topNavigator__icons {
    display: none;
  }

  & .header__list--hasChild {
    position: relative;

    & ul {
      display: none;
      gap: 0;
      align-items: stretch;
      width: max-content;
      position: absolute;
      right: 0;
      background-color: white;
      padding: 0.41rem 0rem;
      border-radius: 1rem;
      box-shadow: 0rem 0.21rem 0.4rem rgba(0, 0, 0, 0.15),
        inset 0rem 0rem 0.4rem 0.1rem rgba(0, 0, 0, 0.1);

      & li {
        border-bottom: solid 1px rgba(0, 0, 0, 0.15);
        padding: 0.41rem 2rem;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &:hover {
      & ul {
        display: flex;
      }
    }
  }

  .header__list--item {
    & a {
      color: #112e61;
      font-size: 1.4rem;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      transition: color ease-in 200ms;

      &:hover,
      &:active {
        color: #f60;
      }
    }

    &.header__list--hasChild::after {
      content: "\2bc6";
    }
  }
}

/* Hero */
.sectionHero {
  background-image: url("Imagens/BACKGROUN-banner-01.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  & .hero__container {
    gap: 3.12rem;
    align-items: center;
  }

  & .hero__button {
    background-image: linear-gradient(180deg, #ff645e, #ff9253);

    &:hover {
      border: solid 0.2rem #ff9253;
      background-color: #ff9253;
      background-image: none;
    }
  }

  & .hero__iFrame {
    aspect-ratio: 16/9;
    border-radius: 2.5rem;
    flex: 5;
  }

  & .hero__column {
    gap: 2rem;
    flex: 6;
  }

  & .hero__container--button {
    gap: 1.6rem;
  }
}

/* Free Content */
.sectionFreeContent {
  background-image: url("Imagens/BACKGROUN-banner-02.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  & .freeContent__container {
    align-items: center;
  }

  & .freeContent__image {
    max-width: 47.8rem;
    flex: 45;
    position: relative;
    left: 2rem;
    z-index: 1;
  }

  & .freeContent__column {
    gap: 3.9rem;
    flex: 55;
  }

  & .freeContent__container--class {
    gap: 2.5rem;
  }

  & .freeContent__container--single-class {
    align-items: center;
    gap: 1.6rem;
    position: relative;
    box-shadow: inset 0rem 0rem 0.8rem 0.1rem rgba(0, 0, 0, 0.15);
    border-radius: 2.5rem;
    padding: 2rem;
  }

  & .freeContent__container--h3 {
    background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
  }

  & .freeContent--title {
    align-items: center;
    gap: 1.6rem;
  }

  & .freeContent__logo--box {
    gap: 0.65rem;
  }

  & .freeContent__logo-circle {
    display: inline-block;
    background-color: #e7e7e7;
    border-radius: 50%;
    box-shadow: inset 0rem 0rem 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
    padding: 1.02rem;
    width: 4.5rem;
    height: 4.5rem;

    & img {
      width: 100%;
    }
  }

  & .freeContent--semibold {
    color: #7a40be;
  }

  & .freeContent--h3 {
    font-weight: 700;
  }

  & .freeContent__list--social-medias {
    gap: 0.65rem;
  }

  & .freeContent__list--link {
    & li {
      align-items: center;
      gap: 0.65rem;
    }
    &:link,
    &:visited {
      display: inline-block;
      align-items: center;
      padding: 0.42rem 3.12rem;
      background-color: #eee;
      border-radius: 2.5rem;
      box-shadow: inset 0rem 0rem 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
      font-size: 1.92rem;
      line-height: 1.3;
      text-decoration: none;
      color: inherit;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
    & img {
      width: 1.8rem;
    }
  }
}

/* Diff */

.sectionDiff {
  & .diff__container {
    background-color: white;
  }

  & .diff__container--title {
    gap: 4.88rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    padding: 4.88rem;
    padding-bottom: 12rem;
    background-image: linear-gradient(225deg, #196b9f, #1a82a7);
    color: white;
  }

  & .diff__container--second-part {
    gap: 4.88rem;
    padding: 4.88rem 3.12rem;
  }

  & .diff__container--item {
    align-items: center;
    gap: 2.5rem;
    margin-top: -10rem;
  }

  & .diff__box--items {
    flex: 1;
    gap: 1.6rem;
    align-items: center;
    text-align: center;
    position: relative;
    border-radius: 2.5rem;
    background-color: white;
    box-shadow: 0rem 0rem 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
    padding: 7rem 2.5rem 3.12rem 2.5rem;
  }

  & .diff__box--item {
    gap: 1.02rem;
  }

  & .diff__box--image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 1.5rem;
    background-color: #ffaf00;
    width: 10rem;
    height: 10rem;
    padding: 1.6rem;
    box-shadow: inset 0rem 0rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);

    & img {
      width: 100%;
    }
  }

  & .diff__company {
    gap: 3.12rem;
    align-items: center;

    & img {
      height: 3rem;
      filter: grayscale(100%);
    }
  }

  & .diff__logo--loreal,
  & .diff__logo--disney {
    opacity: 60%;
  }

  & .diff__logo--subsea,
  & .diff__logo--animale {
    opacity: 75%;
  }

  & .diff--h2 {
    flex: 1;
    border-left: solid 0.5rem #ffb20f;
    padding: 0.52rem 0 0.52rem 1.6rem;
  }

  & .diff--p {
    flex: 1;
    margin-top: 0.52rem;
    text-align: right;
  }

  & .diff--h3 {
    color: #005e88;
  }

  .diff__company--h3 {
    font-weight: 400;

    & a {
      color: #005e88;
      font-weight: 700;
      text-decoration: none;
      transition: color ease-in 150ms;

      &:hover {
        color: #f60;
      }
    }
  }
  & .diff__container--image {
    gap: 2rem;
    justify-content: center;
    padding: 0 10rem;
  }
}

/* Declaration */
.sectionDeclaration {
  background-image: url("Imagens/BACKGROUN-banner-04.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;

  & .declarations__container {
    align-items: center;
    gap: 3.12rem;
    width: 100%;
  }

  & .declations--title {
    align-items: center;
    gap: 1.6rem;
    color: white;
  }

  & .declarations__carousel {
    align-items: center;
    align-self: stretch;
    position: relative;
    gap: 2rem;
  }

  & .declarations__carousel--images {
    align-self: stretch;
    gap: 2rem;
  }

  & .declarations__container--images {
    width: 100%;
    align-self: stretch;
    gap: 2rem;
    overflow: hidden;
  }

  & .declarations__carousel--image {
    flex: 1;
    background-color: #7489af;
    background-blend-mode: multiply;
    position: relative;
    display: inline-block;
    background-position: 50%;
    background-size: cover;
    aspect-ratio: 16/9;
    border-radius: 2.5rem;
  }

  & .declarations__carousel--image-1 {
    background-image: url(https://i3.ytimg.com/vi/N_EZD04zmrw/hqdefault.jpg);
  }
  & .declarations__carousel--image-2 {
    background-image: url(https://i3.ytimg.com/vi/auqWeBJLJHY/hqdefault.jpg);
  }
  & .declarations__carousel--image-3 {
    background-image: url(https://i3.ytimg.com/vi/FD79IpCaM1Y/hqdefault.jpg);
  }

  & .declarations--arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
  }

  & .arrow--right {
    right: 0;
    transform: translate(160%, -65%);
  }

  & .arrow--left {
    left: 0;
    transform: translate(-150%, -65%);
  }

  & .declarations--play {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
  }

  & .declarations__button--navigation {
    cursor: pointer;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #86a8bc;
  }

  & .declarations__button--navigation-active {
    background-color: #14577f;
  }

  & .declarations__button {
    background-image: linear-gradient(180deg, #196c9f, #1a80a7);
    border-bottom-color: #14577f;
    border-right-color: #14577f;

    &:hover {
      border: solid 0.2rem #1a80a7;
      background-image: none;
      background-color: #1a80a7;
    }
  }
}

/* Media */
.sectionMedia {
  padding-top: 3.9rem;
  padding-bottom: 3.9rem;
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUND-Banner-05_1.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  & .media__container {
    gap: 3.12rem;
    justify-content: space-between;

    & .media--link,
    & .media--title {
      align-items: center;
    }

    & .media--link {
      gap: 2rem;

      & a {
        transition: transform ease-in 200ms;

        &:hover,
        &:active {
          transform: scale(1.1);
        }
      }
    }

    & .media--title {
      gap: 1.02rem;
    }
  }
}

/* Blog */
.sectionBlog {
  & .blog__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    position: relative;
    background-color: #f9f9f9;
    padding: 4.88rem;
    padding-top: 7.63rem;

    & .blog--h2 {
      top: -1rem;
      width: max-content;
      background-image: linear-gradient(90deg, #feb914, #f6a50b);
      padding: 1.02rem 3.12rem;
    }

    & .blog__post {
      gap: 1.28rem;
      border-radius: 2.5rem;
      box-shadow: inset 0 0 0.4rem 0.15rem rgba(0, 0, 0, 0.15);
      padding: 2rem;
      background-color: #fff;
      transition: transform ease-in 200ms;

      &:hover {
        transform: scale(1.05);
      }

      & img {
        width: 100%;
      }
    }

    & .blog__box-datePost--image {
      gap: 0.42rem;
    }

    & .blog__box-datePost--text {
      font-size: 1.33rem;
      line-height: 1.5;

      & a {
        font-weight: 600;
        color: #f7a70c;
        text-decoration: none;
      }
    }
    & .blog__box-datePost--title {
      color: inherit;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

/* Help */

.sectionHelp {
  padding: 0;

  & .help__box--orange {
    background-image: url("Imagens/BACKGROUND-banner-07.webp");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  & .help__box--orange,
  .help__box--grey {
    padding: 7.63rem 2rem;

    & a {
      transition: color ease-in 200ms;
    }
  }

  & .help__container-1,
  & .help__container-2 {
    max-width: 86rem;
  }

  & .help__container-1 {
    align-items: center;
    gap: 3.12rem;
  }
  & .help__container-2 {
    gap: 1.6rem;
  }

  & .help--h2 {
    display: inline-block;
    padding: 0.42rem 1.6rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 0rem 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(90deg, #14a1d5, #1a8ad4);
  }

  & .help__list {
    gap: 1.28rem;
    border-radius: 2.5rem;
    box-shadow: inset 0rem 0rem 0.8rem 0.15rem rgba(0, 0, 0, 0.15);
    padding: 2.5rem;
    background-color: #f9f9f9;

    & a:link,
    & a:visited {
      color: #008ff7;
      font-weight: 600;
    }

    & a:hover,
    & a:active {
      color: #008ff7;
    }

    & li {
      align-items: start;
      gap: 0.82rem;

      & img {
        transform: translateY(40%);
      }
    }
  }

  & .help--p {
    & b {
      font-weight: 600;
    }
    & a {
      &:link,
      &:visited {
        color: #008ff7;
        font-weight: 600;
      }
      &:hover,
      &:active {
        color: #008ff7;
      }
    }
  }
}

/* Miniclass */

.sectionMiniclass {
  background-image: linear-gradient(90deg, #9e4ad7, #753db6);
  color: white;

  & .miniclass__container {
    gap: 2.5rem;
    align-items: center;
  }

  & .miniclass__form {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(2, 2fr) auto;
    align-items: end;
    gap: 3.9rem;
  }

  & .form {
    & div {
      gap: 0.82rem;

      & label {
        margin-left: 0.8rem;
      }
    }
  }

  & .miniclass__button {
    background-color: #ffba29;
    border-bottom-color: #664a10;
    border-right-color: #664a10;
    justify-self: center;

    &:hover {
      border: solid 0.2rem #ffba29;
    }
  }
}

/* Footer */

.sectionFooter {
  & svg {
    width: 2.4rem;
    transition: ease-in 200ms;
    transition-property: fill, stroke;
  }

  & a.footer__link--social-medias {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: transparent;
    }
  }

  & a {
    &:hover,
    &:active {
      color: #f60;
    }
  }

  .footer__link--social-medias svg {
    fill: #404040;
    stroke: #404040;

    &:hover {
      fill: #f60;
      stroke: #f60;
    }
  }

  & .footer__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 106rem;
    align-items: start;
    gap: 4.88rem;

    & a {
      transition: ease-in 200ms;
      transition-property: color, transform;
    }
  }

  & .footer__logo {
    width: 18rem;
  }

  & .footer__column {
    gap: 3.12rem;
  }

  & .footer__subsection {
    gap: 1.6rem;
  }

  & .footer__onlineclass {
    gap: 1.28rem;
  }

  & .footer__assistent {
    gap: 1.02rem;
  }

  & .footer__div--iconNlink {
    gap: 0.65rem;
  }

  & .footer__iconNlink {
    align-items: center;
    gap: 0.65rem;
  }

  & .footer__social-medias {
    gap: 0.82rem;
  }

  & .footer--link {
    color: #1a77a4;
  }

  & .footer__container--copyright {
    grid-column: 2;
    grid-row: 2;
    gap: 3.12rem;
  }

  & .footer--copyright {
    text-align: center;
  }

  & .footer__form {
    align-items: center;
    gap: 1.6rem;
    border-radius: 2.5rem;
    box-shadow: inset 0rem 0rem 0.8rem 0.15rem rgba(0, 0, 0, 0.15);
    padding: 2.5rem;
    background-color: #fff;
  }

  & .footer__form--button {
    background-color: #1a77a4;
    border-bottom-color: #0c374d;
    border-right-color: #0c374d;

    &:hover {
      border: solid 0.2rem #1a77a4;
    }
  }
}

/* Fixed */

.fixed--whatsapp {
  position: fixed;
  right: 1rem;
  bottom: 0.8rem;
  width: 8.5rem;

  &:hover {
    transform: translate(0.5rem, 0.5rem);
  }

  & img {
    width: 100%;
  }
}

/* Popup */

.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
  z-index: 9999;

  & .popup__container-1 {
    position: relative;
    top: 10%;
    left: 25%;
    width: 50rem;
    background-color: black;
    color: white;
    overflow: hidden;
    border-radius: 2.5rem;
    border: 3px solid white;

    & .popup__imagem {
      & img {
        width: 100%;
      }
    }

    & .popup__container-2 {
      padding: 2.5rem;
      gap: 2.5rem;

      & .popup--text {
        text-align: justify;
        gap: 1.6rem;
      }

      & form {
        gap: 1.28rem;

        & .popup__button {
          &:link,
          &:visited {
            text-decoration: none;
            color: inherit;
            background-color: #ffac00;
            border-radius: 0.8rem;
            padding: 0.82rem 3.12rem;
            font-weight: 700;
            border: 0px solid #926100;
            border-right-width: 3px;
            border-bottom-width: 3px;
          }

          &:hover,
          &:active {
            border-width: 1.5px;
          }
        }
      }
    }

    & .popup--close {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: white;
      color: #303030;
      border: 2px solid #303030;
      font-weight: 700;
      font-size: 1.92rem;

      &:hover {
        border-width: 1px;
      }
    }
  }
}
